# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 61f41121e90af9382fcb5c25c0ee203edef16e29448c58767079027d1b81e01757c920c7fdfb32776dcc1ee0f8ed5802c9e869a0a8d796a2796e8a361a22c778

test:
  secret_key_base: 615ea289dd72dde1832fa11ceb3e2347dd5f401498c033a73aa452559a13a24efa2e72c87b68293d760f75413297917b5984cda642242e3376e1ce46a66c1361

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
