@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

.box-left {

  .image img {
    height: 70px;
    width: 70px;
  }

  .news {
    margin: -70px 0 0 80px;

    .author {
      font-size: 15px;
      font-weight: bold;
    }

    button {
      margin-bottom: 3px;
    }

    .time {
      margin-top: 5px;
    }
  }
}

.hot-user {
  background: $white;

  .title {
    color: $black;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .user {
    margin-bottom: 20px;

    img {
      height: 70px;
      width: 90px;
    }

    span {
      margin-right: 10px;
    }
  }
}

.comment {

  img {
    width: 100px;
  }
}

.row-comment {
  margin-top: 20px;

  .detail {
    margin: -75px 0 0 110px;

    .name {
      font-weight: bold;
    }

    .text-time-ago {
      color: $gray;
    }
  }

  .hidden-submit {
    display: none;
  }
}
